<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>首页 - MikuInvidious</title>

	<!-- MDUI CSS -->
	<link
	  rel="stylesheet"
	  href="https://cdn.jsdelivr.net/npm/mdui@1.0.1/dist/css/mdui.min.css"
	/>

	<!-- MDUI JavaScript -->
	<script
	  src="https://cdn.jsdelivr.net/npm/mdui@1.0.1/dist/js/mdui.min.js"
	></script>
</head>
<body class="mdui-theme-primary-pink mdui-theme-layout-dark">
	{% include 'toolbar.html' %}
	<div class="mdui-container mdui-typo">
		<h1>嘿，这里是 MikuInvidious！<small>MikuInvidious 是自由的哔哩哔哩前端。</small></h1>
		<p>要把哔哩哔哩链接转换成 MikuInvidious，你需要把 <code>www.bilibili.com</code> 和 <code>b23.tv</code> 替换成 MikuInvidious 实例的域名。</p>
		<p>个人空间需要把 <code>space.bilibili.com</code> 后的数字粘贴到实例域名 + <code>/space/</code> 后面。</p>
	
		<div class="mdui-panel mdui-hoverable" mdui-panel>
			<div class="mdui-panel-item">
	    		<div class="mdui-panel-item-header">热搜列表</div>
				<div class="mdui-panel-item-body">
					<ul class="mdui-list" style="padding-left: 0;">
						{% for hotward in hotwards %}
						<li class="mdui-list-item"><a href="{{ url_for('search_page', kwards=hotward['keyword']) }}"><h4>{{ hotward['keyword'] }}</h4></a></li>
						{% endfor %}
					</ul>
				</div>
			</div>
  		</div>
	</div>

	{% include 'footer.html' %}
</body>
</html>