<div class="mdui-toolbar mdui-color-theme">
	<a href="/mikuinvidious/"><span class="mdui-typo-title">MikuInvidious</span></a>

	<div class="mdui-textfield mdui-toolbar-spacer">
		<form action="/mikuinvidious/search">
			<input class="mdui-textfield-input" type="text" name="kwards" placeholder="想要搜索什么吗？"/>
		</form>
	</div>

	<a href="javascript:;" class="mdui-btn mdui-btn-icon" mdui-dialog="{target: '#settings'}">
		<i class="mdui-icon material-icons">&#xe8b8;</i>
	</a>
	<a href="https://0xacab.org/johnxina/mikuinvidious" class="mdui-btn mdui-btn-icon">
		<i class="mdui-icon material-icons">&#xe86f;</i>
	</a>
</div>
<script src="https://cdn.moeyy.cn/mikuinvidious/static/js/common.js"></script>